#This Apache config file was created by Duplicator Installer on 2020-07-27 13:28:40.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
# دستورالعمل‌های (خطوط) بین `BEGIN WordPress` و `END WordPress`
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /seda.ir/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /seda.ir/index.php [L]
</IfModule>

# END WordPress